In [1]:
Comment

blog.models.Comment

In [2]:
comment = Comment.objects.first()

In [3]:
from django.db import connection
connection.queries[-1]

{'sql': 'SELECT "blog_comment"."id", "blog_comment"."post_id", "blog_comment"."author", "blog_comment"."message", "blog_comment"."created_at", "blog_comment"."updated_at" FROM "blog_comment" ORDER BY "blog_comment"."id" ASC  LIMIT 1',
 'time': '0.003'}

In [4]:
comment.post_id

1

In [5]:
comment.post

In [6]:
connection.queries[-1]

{'sql': 'SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."tags", "blog_post"."lnglat", "blog_post"."status", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" WHERE "blog_post"."id" = 1',
 'time': '0.002'}

In [8]:
##OneToOneField

In [9]:
Profile

accounts.models.Profile

In [10]:
profile = Profile.objects.first()

In [11]:
connection.queries[-1]

{'sql': 'SELECT "accounts_profile"."id", "accounts_profile"."user_id", "accounts_profile"."phone_number", "accounts_profile"."address" FROM "accounts_profile" ORDER BY "accounts_profile"."id" ASC  LIMIT 1',
 'time': '0.001'}

In [12]:
profile.user_id

1

In [13]:
profile.user

In [14]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."id" = 1',
 'time': '0.002'}

In [19]:
## related_name

In [2]:
post = Post.objects.first()
print(Comment.objects.filter(post=post)) # 방법1
print(post.comment_set.all()) # 방법2

<QuerySet [<Comment: Comment object (4)>, <Comment: Comment object (5)>]>
<QuerySet [<Comment: Comment object (4)>, <Comment: Comment object (5)>]>

In [3]:
Comment.objects.create(post=post, author = '나', message = '댓글3')

In [4]:
comment = Comment.objects.first()
comment.post

In [5]:
user = User.objects.first()

In [6]:
user.post_set.all()

<QuerySet [<Post: 불법음란물 '웹하드 카르텔' 처벌 강>, <Post: 제목 #999>, <Post: 제목 #998>, <Post: 제목 #997>, <Post: 제목 #996>, <Post: 제목 #995>, <Post: 제목 #994>, <Post: 제목 #993>, <Post: 제목 #992>, <Post: 제목 #991>, <Post: 제목 #990>, <Post: 제목 #989>, <Post: 제목 #988>, <Post: 제목 #987>, <Post: 제목 #986>, <Post: 제목 #985>, <Post: 제목 #984>, <Post: 제목 #983>, <Post: 제목 #982>, <Post: 제목 #981>, '...(remaining elements truncated)...']>

In [14]:
from blog.models import Post

post = Post.objects.first()
tag1 = Tag.objects.all()[0]
tag2 = Tag.objects.all()[1]
tag_qs = Tag.objects.filter(name__endswith='love')

In [9]:
post

In [15]:
post.tag_set.all()